.water {
    display: flex;
    flex-direction: column;
    height: 400px;
    background: url("../images/bg-masthead.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    h2 {
      color: white;
      width: 70%;
      margin: 20px 0;
    }

    .email {
      display: flex;
      gap: 5px;

      input {
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 400px;
      }
      button {
        background: $bg-body-2;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 120px;
      }
      button:hover {
        cursor: pointer;
        background: $bg-body-3;
      }
    }
  }